<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 main">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline", style: "margin-left:20px;" do %>
        <%= f.check_box :remember_me %>
        <span>Lembrar-me neste computador</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>Novo na MikasReviews? <%= link_to "Regista-te agora!", signup_path %></p>
  </div>
</div>
