<h1>Editar Utilizador</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 main">
    <%= form_for(@conta, url: {action: "update"}) do |f| %>
    <%= render 'shared/error_messages' %>
      <%= f.label :nickname %>
      <%= f.text_field :nickname, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :nome %>
      <%= f.text_field :nome, class: 'form-control' %>

      <%= f.label :tipo %>
      <%= f.text_field :tipo, class: 'form-control' %><br>

      <div class="col-md-6">
        <%= f.label :foto %>
        <%= f.file_field :foto %>
      </div>
      <div class="class-md-6">
        <%= image_tag @conta.foto %>
      </div><br>


        <%= f.label :newsletter %>
        <%= f.check_box :newsletter %><br>

        <%= f.label :verificado %>
        <%= f.check_box :verificado %><br>

      <%= f.label :ativo %>
      <%= f.check_box :ativo %><br>




      <br><%= f.submit "Editar", class: "btn btn-primary", style: "margin-top:20px" %>
    <% end %>
    </div>
  </div>
</div>
