<div class="row">


  <div class="col-md-12 main">
    <h1> <%=@conta.nickname %> / <%= @conta.nome %> </h1> <br>
    <div class="col-md-6">
      <%= image_tag @conta.foto %>
    </div>
    Email:  <%= @conta.email %> <br>
    Tipo:  <%= @conta.tipo %> <br>
    Ativo: <%= @conta.ativo %> <br>


  <div class="col-md-12"><%=button_to 'Editar', edit_contum_path(@conta), method: :get, class:"btn btn-success btn-sm"%></div>
  <div class="col-md-4"><%=button_to 'Editar Password', editcontapassword_path(@conta), method: :get, class:"btn btn-success btn-sm"%></div>
  <div class="col-md-4"><%=button_to 'Apagar', @conta, method: :delete, data: { confirm:'Apagar Conta?'}, class:"btn btn-danger btn-sm"%></div>
  </div>

</div>
