<%admin= ["admin","backoffice"]%>
<span style="size-font:10px">Outras reviews</span><br>
<% @reviews.each do |n| %>
  <%if n.id != @jogo.favreview%>
    <div class="col-md-12" style="margin-bottom:10px;border-color: #158CBA;border-style: solid;border-radius: 10px;">
      <%=link_to n.conta.nome ,view_conta_path(n.conta)%>
      <span class="text-muted"><%=n.classificacao%>/10</span><br>
      <%=n.texto%><br>
      <span class="text-muted"><%=n.created_at.strftime("%d-%m-%Y")%></span><br>
      <span>
        <% if !current_conta.nil? %>
          <%if (admin.include?(current_conta.tipo))%>
            <%=link_to "Marcar como melhor review", favreview_path(n)%>
          <%end%>
        <%end%>
      </span>
    </div>
  <%end%>
<%end%>

  <div class="col-md-12">
    <center><div id="collection_paginator">
      <%= will_paginate @reviews%>
    </div></center>
  </div>



  <script type="text/javascript">
    $(document).ready( function() {
      $('#collection_paginator a').each( function() {
        $(this).attr( 'data-remote', 'true' )
        $(this).attr( 'data-replace', '#collection_index' )
      })
    })
  </script>
