<div class="row">
  <div class="col-md-12">
    <br>
  </div>
<% @contas.each do |j| %>
  <%= link_to view_conta_path(j) do %>
  <div class="col-md-3 main">
    <div class="col-md-5" style="padding-left:0px; margin-top:10px; margin-bottom:10px;">
      <%= image_tag j.foto %>
    </div>

   <div class="col-md-7" style="margin-top:45px">
       <span style="font-size:20px;"><%=j.nickname%></span>
       <% if j.verificado? %>
        <%=image_tag "verificado.png", style:"margin-bottom:15px;"  %>
       <%end%><br>
       <span class="text-info"><%=j.tipo%></span>
   </div>
  </div>
  <%end%>
<%end%>

    <div class="col-md-12">
      <br>
    </div>
</div>
