  <body>

    <div class="row">
      <div class="col-md-12">

        <br>
      </div>
      <div class="col-md-8 main" style="margin-left:0px; margin-right:0px;">
        <center><h1> últimas noticias </h1></center>

        <% @ultimas_noticias.each do |noticia| %>
        <div class="col-md-12 hl">
          <%= link_to noticia.nome, view_noticia_path(noticia) %> <% noticia.data %> <br>
          <%= image_tag noticia.foto %> <br>
          <%= noticia.descricao %> <br>

        </div>
        <br>
        <%end%>
        <div style="margin-bottom:500px">
        </div>
      </div>
      <div class="col-md-4">
        <% if logged_in? %>
        <div class="col-md-12 main">
          <div class="col-md-5" style="margin-bottom:15px; margin-top:15px;">
            <%=image_tag current_conta.foto, height:120, width:120 %>
          </div>
          <br>
          <div class="col-md-7">
              <%= current_conta.nome %>
              <% if current_conta.verificado? %>
                <%=image_tag "verificado.png" %>
              <%end%><br>
              <%= current_conta.nickname%><br>
              <%= link_to "Editar conta", settings_path%>
          </div>
          <br>
        </div>
        <br>
        <% end %>
        <div class="col-md-12 main">
          <br>
          <%= link_to "Jogos perto de sair", jogo_view_path %>
          <br>
          <br>
          <br>
          <br>
        </div>
        <br>
        <div class="col-md-12 main">
          <br>
          <%= link_to "Ultimas Reviews", review_view_path %>
          <br>
          <br>
          <br>
          <br>
        </div>
        <br>
        <div class="col-md-12 main">
          <br>
          Tendencias
          <br>
          <br>
          <br>
          <br>
        </div>
        <br>
      </div>
      <div class="col-md-12">
        <br>
      </div>
</div>

  </body>
