
  <body>

    <div class="row">
      <div class="col-md-12">

        <br>
      </div>
      <div class="col-md-8 debug">
        <center><h1> últimas noticias </h1></center>

        <% @ultimas_noticias.each do |noticia| %>
        <div class="col-md-12 debug">
          <%= link_to noticia.nome, "#" %> <% noticia.data %> <br>
          <%= noticia.foto %> <br>
          <%= noticia.descricao %> <br>

        </div>
        <br>
        <%end%>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
      <div class="col-md-4">
        <% if logged_in? %>
        <div class="col-md-12 debug">
          <div class="col-md-5" style="margin-bottom:15px; margin-top:15px;">
            <%=image_tag "http://via.placeholder.com/120x120" %>
          </div>
          <br>
          <div class="col-md-7">
              <%= current_conta.nome %><br>
              <%= current_conta.tipo %>
          </div>
          <br>
        </div>
        <br>
        <% end %>
        <div class="col-md-12 debug">
          <br>
          <%= link_to "Jogos perto de sair", jogo_view_path %>
          <br>
          <br>
          <br>
          <br>
        </div>
        <br>
        <div class="col-md-12 debug">
          <br>
          <%= link_to "Ultimas Reviews", review_view_path %>
          <br>
          <br>
          <br>
          <br>
        </div>
        <br>
        <div class="col-md-12 debug">
          <br>
          Tendencias
          <br>
          <br>
          <br>
          <br>
        </div>
        <br>
      </div>
      <div class="col-md-12">
        <br>
      </div>
</div>

  </body>
