  <body>

    <div class="row">
      <div class="col-md-12">

        <br>
      </div>
      <div class="col-md-8 main" style="margin-left:0px; margin-right:0px;">
        <center><h1> últimas noticias </h1></center>

        <% @ultimas_noticias.each do |noticia| %>
        <div class="col-md-12">
          <%= link_to view_noticia_path(noticia) do%>
          <span style="font-size:30px;"><%=noticia.nome%></span>
          <span class="text-muted"><%= noticia.data %></span> <br>
          <center><%= image_tag noticia.foto %></center> <br>
          <%= noticia.descricao %> <br>
          <%end%>
        </div>
        <br>
        <%end%>
        <div style="margin-bottom:500px">
        </div>
      </div>
      <div class="col-md-4">
        <% if logged_in? %>
        <div class="col-md-12 main">
          <div class="col-md-5" style="margin-bottom:15px; margin-top:15px;">
            <%=image_tag current_conta.foto, height:120, width:120 %>
          </div>
          <br>
          <div class="col-md-7">
              <%= current_conta.nome %>
              <% if current_conta.verificado? %>
                <%=image_tag "verificado.png" %>
              <%end%><br>
              <%= current_conta.nickname%><br>
              <%= link_to "Editar conta", settings_path%>
          </div>
          <br>
        </div>
        <br>
        <% end %>
        <div class="col-md-12 main">
          <br>
          <center><span style="font-size:20px;margin-bottom:20px;"> Jogos perto de sair</span></center>
          <div class="col-md-12" style="margin-top:20px">
          <% @ultimos_jogos.each do |n| %>
          <div class="col-md-12" style="margin-bottom:20px;">
              <div class="col-md-3" style="margin:0px">
                <%= image_tag n.foto, style:"width:60px;height:60px" %>
              </div>
              <div class="col-md-9" style="margin:0px">
                <span style="font-size:15px;"><%= n.nome %></span>
                <span class="text-muted"><%=n.data_de_lancamento%></span><br>
                <span class="preco" style="color:green"><%=n.preco%></span>

              </div>
          </div>
          <%end%>
          </div>
        </div>
        <br>
        <div class="col-md-12 main">
          <br>
          <%= link_to "Ultimas Reviews", review_view_path %>
          <br>
          <br>
          <br>
          <br>
        </div>
        <br>
        <div class="col-md-12 main">
          <br>
          Tendencias
          <br>
          <br>
          <br>
          <br>
        </div>
        <br>
      </div>
      <div class="col-md-12">
        <br>
      </div>
</div>

  </body>
