<div class="row">
  <div class="col-md-12">
    <br>
  </div>
  <div class=" col-md-7 main">
    <span style="font-size:30px;"><%= @noticia.nome %></span><br>
    <span class="text-muted"> <%= @noticia.data %></span>
    <center><div class="col-md-12">
      <%= image_tag @noticia.foto %><br>
    </div></center>
    <div class="col-md-12" style="margin-top:20px;">
      <%= @noticia.texto %><br>
    </div>
    <div class="col-md-12" style="margin-top:30px; width:100%;">
      <span class="text-muted">
        <% @ntags.each do |n| %>
          <%= link_to n, searchtn_path(n)%>
        <%end%>
      </span>
    </div>

    <div class="col-md-12" style="border:10px;background-color: #158CBA;width: 90%;height: 12px;border-color: #158CBA;border-radius: 100px;margin-bottom: 20px;margin-top: 20px;align-self: center;margin-left: 6%;">

    </div>

    <div class="col-md-12" style="position: relative;">
      <%= form_for(@comentario, url: {controller: "comentarios", action: "addnoticia"}, :remote => true) do |f| %>
        <%= f.hidden_field :tipoid, :value => @noticia.id %>

        <%= f.text_field :texto, class: 'form-control',style:"margin-bottom:5px"%>
        <%= f.submit "Comentar", class: "btn btn-primary", style:'position: absolute;right: 10px;top: 100%;' %>
      <% end %>
    </div>


    <div class="col-md-12" style="margin-top:30px">

      <div class="ajax"><%=render 'comentarios'%></div>

    </div>

   </div>
  <div class="col-md-4" style="margin-bottom:250px;">
    <div class="col-md-12 main">

      <center><h2>Noticias do mesmo tipo</h2></center>

    <br>
    <% @noticiasmesmotipo.each do |j| %>
      <%= link_to view_noticia_path(j), class:"semlink" do %>
    <div class="col-md-10">
       <div class="col-md-6" style="padding-left:0px; margin-top:10px; margin-bottom:10px;">
        <center> <%= image_tag j.foto, style:"max-width:250px;max-height:120px;" %> </center>
       </div>
       <div class="col-md-6" style="padding:0px;margin-top:15px">
           <div class="titulo" style="margin-bottom:10px;"><span style="font-size:20px;"><%=j.nome%></span><br>
           <span class="text-muted"><%=j.data%></span></div>
           <div class="tags" style="margin-top:30px"><span>
              <% tags(j.tags).each do |n|%>
                <%= link_to n, searchtn_path(n)%>
              <%end%>
           </span></div><br>
       </div>
    </div>
    <%end%>
    <%end%>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
