<div class="row">
  <div class="col-md-offset-3 col-md-6 main">
    <div class="col-md-3" style="margin-top:10px">
      <%= image_tag @conta.foto, height:120, width:120 %>
    </div>
    <div class="class-md-9">
       <span style="font-size:35px"><%= @conta.nickname %></span>
       <% if @conta.verificado? %><%=image_tag "verificado.png", style:"margin-bottom:15px"%><%end%>
       <span class="text-muted"> <%= @conta.nome%> </span><br>
       <span class="text-info" style="margin-left:5px"> <%= @conta.tipo %></span><br>
        <div class = "class_ajax"><%= render 'seguir' %></div>

    </div>
    <div class="col-md-12" style="margin-bottom:30px">


      <% if @conta.tipo=="empresa" %>
        <h1> Jogos Publicados </h1>
        <%if Jogo.where(developer:@conta.nickname).any? %>
          <% Jogo.where(developer:@conta.nickname).each do |n| %>
          <%= link_to view_jogo_path(n), class:"semlink" do %>
            <div class="col-md-12" style="margin-bottom:20px;margin-top:40px;">
                <div class="col-md-3" style="margin:0px">
                  <%= image_tag n.foto, style:"width:60px;height:60px" %>
                </div>
                <div class="col-md-9" style="margin:0px">
                  <span style="font-size:15px;"><%= n.nome %></span>
                  <span class="text-muted"><%=n.data_de_lancamento%></span><br>
                  <span class="preco" style="color:green"><%=n.preco%></span>

                </div>
            </div>
          <%end%>
          <%end%>
        <%else%>
          <center style="margin-top:20px">Esta empresa ainda não tem jogos publicados.</center>
        <%end%>
      <%end%>
      <% if @conta.tipo!="empresa"%>
        <div class="col-md-6">
          <h1>Seguidores - <%= @tseguidores.count %></h1>
          <%@seguidores.each do |n|%>
          <% conta = Conta.find(n.idseguidor)%>
            <% if conta.verificado %>
              <%= link_to image_tag(conta.foto, style:"height:30px;width:30px;margin-bottom:4px;border:solid;border-width:1px;border-color:#75CAEB;"), view_conta_path(conta), {'data-toggle'=> "tooltip" ,'title'=> conta.nome + ' ✓'} %>
            <%else%>
              <%= link_to image_tag(conta.foto, style:"height:30px;width:30px;margin-bottom:5px;"), view_conta_path(conta), {'data-toggle'=> "tooltip" ,'title'=> conta.nome} %>
            <%end%>
          <%end%>
        <span><%=link_to "Ver todos...", followers_path(@conta)%> </span>
        </div>

        <div class="col-md-6">
          <h1>Seguidos - <%= @tseguidos.count %></h1>
          <%@seguidos.each do |n|%>
          <% conta = Conta.find(n.idseguido)%>
            <% if conta.verificado %>
              <%= link_to image_tag(conta.foto, style:"height:30px;width:30px;margin-bottom:4px;border:solid;border-width:1px;border-color:#75CAEB;"), view_conta_path(conta), {'data-toggle'=> "tooltip" ,'title'=> conta.nome + ' ✓'} %>
            <%else%>
              <%= link_to image_tag(conta.foto, style:"height:30px;width:30px;margin-bottom:5px"), view_conta_path(conta), {'data-toggle'=> "tooltip" ,'title'=> conta.nome} %>
            <%end%>
          <%end%>
          <span><%=link_to "Ver todos...", follows_path(@conta)%> </span>
        </div>
      <%end%>
    </div>
    <div class="col-md-12" style="margin-bottom:50px">
     <!-- comentarios -->
   </div>
 </div>
</div>
<br>
<br>
<br>
<br>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
