<%radmin= ["admin","backoffice","reviewer"]%>
<div class="row">
<% if (@dev = Conta.find_by(nickname:@jogo.developer)).nil? %>
  <% @dev=0 %>
<%end%>
  <div class="col-md-12">
    <br>
  </div>
  <div class=" col-md-7 main">
    <div class="col-md-6" style="margin:0px; padding:0px;">
      <span style="font-size:30px;"><%= @jogo.nome %></span><br>
      <span class="text-muted">
      <%if @dev!=0 %>
        <%=link_to @dev.nome, view_conta_path(@dev) %>
      <%else%>
        <%= @jogo.developer %>
      <%end%>
         - <%= @jogo.data_de_lancamento %></span>
    </div>
    <div class="col-md-6" style="margin:0px;">
      <span style="font-size:20px; color:green; margin-left:90%"><%=@jogo.preco%>€</span>
      <div style="display:block;margin-left:95%">
      <% if !current_conta.nil? %>
        <div class = "class_ajax"><%= render 'classificacao' %></div>
      <%else%>
        <%=link_to image_tag('upvote.png', style:"width:20px"), login_path%><br>
        <center><%=classtotal(@jogo)%></center>
        <%=link_to image_tag('downvote.png', style:"width:20px"), login_path%>
      <%end%>
      </div>
    </div>
    <center><div class="col-md-12">
      <%= image_tag @jogo.foto %><br>
    </div></center>

    <%if !current_conta.nil? && radmin.include?(current_conta.tipo) && !Review.where(jogo_id:@jogo.id,conta_id:current_conta.id).any? %>

    <div class="col-md-12" style="margin-top:20px;">
      <%= form_tag({controller: "review", action: "new"}, method: :get) do %>
        <div><%= hidden_field_tag :jogo_id, @jogo.id %></div>
        <div><%= submit_tag "Criar Review", class: "btn btn-success btn-sm" %></div>
      <%end%>
    </div>

    <%end%>

    <div class="col-md-12" style="margin-top:20px;">
      <%= @jogo.descricao %><br>
    </div>

    <div class="col-md-12" style="margin-top:30px;">
      <span style="font-size:20px;">
        Reviews do jogo "<%=@jogo.nome%>"
        <% if Review.where(jogo_id:@jogo.id).any? %>
         - Media de
          <%@c = Review.where(jogo_id:@jogo.id).average(:classificacao)%>
          <%if @c > 4%>
            <%if @c >7%>
              <span style="color:green;"><%=@c%></span>
            <%else%>
              <span style="color:#b0b012;"><%=@c%></span>
            <%end%>
          <%else%>
            <span style="color:red;"><%=@c%></span>
          <%end%>
              /10
        <%end%>
      </span><br><br>

      <!-- <div style="margin-top:20px;"><span>Review escolhida pela MikasReviews:</span></div> -->
      <% Review.where(jogo_id:@jogo.id).each do |n| %>
        <div class="col-md-12" style="margin-bottom:10px;">
          <%=link_to n.conta.nome ,view_conta_path(n.conta)%>
          <span class="text-muted"><%=n.classificacao%>/10</span><br>
          <%=n.texto%>
        </div>
      <%end%>

    </div>

    <div class="col-md-12" style="margin-top:30px; width:100%;">
      <span class="text-muted"><%= @jogo.preco %></span>
    </div>
   </div>
  <div class="col-md-4 main" style="margin-bottom:250px;">
    <div class="col-md-12">

     Jogos do mesmo genero
    </div>
    <br>

</div>

</div>
<br>
<br>
<br>
<br>
