<%radmin= ["admin","backoffice","reviewer"]%>
<%admin= ["admin","backoffice"]%>
<div class="row">
<% if (@dev = Conta.find_by(nickname:@jogo.developer)).nil? %>
  <% @dev=0 %>
<%end%>
  <div class="col-md-12">
    <br>
  </div>
  <div class=" col-md-7 main">
    <div class="col-md-6" style="margin:0px; padding:0px;">
      <span style="font-size:30px;"><%= @jogo.nome %></span><br>
      <span class="text-muted">
      <%if @dev!=0 %>
        <%=link_to @dev.nome, view_conta_path(@dev) %>
      <%else%>
        <%= @jogo.developer %>
      <%end%>
         - <%= @jogo.data_de_lancamento %></span>
    </div>
    <div class="col-md-6" style="margin:0px;">
      <span style="font-size:20px; color:green; margin-left:90%"><%=@jogo.preco%>€</span>
      <div style="display:block;margin-left:95%">
      <% if !current_conta.nil? %>
        <div class = "class_ajax"><%= render 'classificacao' %></div>
      <%else%>
        <%=link_to image_tag('upvote.png', style:"width:20px"), login_path%><br>
        <center><%=classtotal(@jogo)%></center>
        <%=link_to image_tag('downvote.png', style:"width:20px"), login_path%>
      <%end%>
      </div>
    </div>
    <center><div class="col-md-12">
      <%= image_tag @jogo.foto %><br>
    </div></center>

    <%if !current_conta.nil? && radmin.include?(current_conta.tipo) && !Review.where(jogo_id:@jogo.id,conta_id:current_conta.id).any? %>

    <div class="col-md-12" style="margin-top:20px;">
      <%= form_tag({controller: "review", action: "new"}, method: :get) do %>
        <div><%= hidden_field_tag :jogo_id, @jogo.id %></div>
        <div><%= submit_tag "Criar Review", class: "btn btn-success btn-sm" %></div>
      <%end%>
    </div>

    <%end%>

    <div class="col-md-12" style="margin-top:20px;">
      <%= @jogo.descricao %><br>
    </div>

    <div class="col-md-12" style="margin-top:30px;">
      <span style="font-size:20px;">
        Reviews do jogo "<%=@jogo.nome%>"
        <% if Review.where(jogo_id:@jogo.id).any? %>
         - Media de
          <%@c = Review.where(jogo_id:@jogo.id).average(:classificacao).round(2)%>
          <%if @c > 4%>
            <%if @c >7%>
              <span style="color:green;"><%=@c%></span>
            <%else%>
              <span style="color:#b0b012;"><%=@c%></span>
            <%end%>
          <%else%>
            <span style="color:red;"><%=@c%></span>
          <%end%>
              /10
        <%end%>
      </span><br><br>

      <%if @jogo.favreview!=0 %>
        <div style="margin-top:20px;">
          <span style="font-size:22px;">Review escolhida pela MikasReviews:</span>
            <% j = Review.find(@jogo.favreview)%>
            <div class="col-md-12" style="margin-bottom:30px;font-size:18px;margin-top:20px;border-color: #158CBA;border-style: solid;border-radius: 10px;padding:10px">
              <div class="col-md-4">
                <%= image_tag j.conta.foto, style:'height:160px;width:160px' %>
              </div>
              <div class="col-md-8">
                <%=link_to j.conta.nome ,view_conta_path(j.conta)%>
                <span class="text-muted"><%=j.classificacao%>/10</span><br>
                <%=j.texto%><br>
                <span class="text-muted"><%=j.created_at.strftime("%d-%m-%Y")%></span><br>
              </div>
            </div>
        </div>
      <%end%>

      <div class = "sort_paginate_ajax"> <%= render 'review' %> </div>

    </div>

    <div class="col-md-12" style="margin-top:30px; width:100%;">
      <span class="text-muted">
        <% tags(@jogo.tags).each do |n|%>
          <%= link_to n, searchtj_path(n)%>
        <%end%></span>
    </div>

    <div class="col-md-12" style="border:10px;background-color: #158CBA;width: 90%;height: 12px;border-color: #158CBA;border-radius: 100px;margin-bottom: 20px;margin-top: 20px;align-self: center;margin-left: 6%;">

    </div>
    <%if !current_conta.nil? %>
    <div class="col-md-12" style="position: relative;">
      <%= form_for(@comentario, url: {controller: "comentarios", action: "addjogo"}, :remote => true) do |f| %>
        <%= f.hidden_field :tipoid, :value => @jogo.id %>

        <%= f.text_field :texto, class: 'form-control',style:"margin-bottom:5px"%>
        <%= f.submit "Comentar", class: "btn btn-primary", style:'position: absolute;right: 10px;top: 100%;' %>
      <% end %>
    </div>
    <%end%>

    <div class="col-md-12" style="margin-top:30px">

<div class="ajax"><%=render 'comentarios'%></div>

    </div>


   </div>
  <div class="col-md-4 main" style="margin-bottom:250px;">
    <div class="col-md-12">

     <center><h2>Jogos do mesmo genero</h2></center>
     <%@jogosmesmotipo.each do |j|%>
     <% @dev = nil %>
     <% @dev = Conta.find_by(nickname:j.developer) %>
     <%= link_to view_jogo_path(j), class:"semlink" do %>
       <div class="col-md-10" style="padding-top:20px;padding-bottom:10px">
          <div class="col-md-6" style="padding-left:0px; margin-top:10px; margin-bottom:10px;">
           <center> <%= image_tag j.foto, style:"max-width:250px;max-height:120px;" %> </center>
          </div>
          <div class="col-md-6" style="padding:0px;">
              <div class="titulo" style="margin-bottom:10px;"><span style="font-size:20px;"><%=j.nome%></span><br>
              <span class="text-muted">
                 <%if !@dev.nil? %>
                    <%=link_to @dev.nome, view_conta_path(@dev) %>
                  <%else%>
                    <%= j.developer %>
                   <%end%>
                    - <%=j.data_de_lancamento%></span></div>
                 <div class="preco" ><span style="color:green; font-size:20px;"> <%=j.preco%>€ </span></div>
                 <div class="tags"><span>
                   <% tags(j.tags).each do |n|%>
                      <%= link_to n, searchtj_path(n)%>
                  <%end%></span></div>

          </div>
       </div>
       <%end%>
       <%end%>
    </div>
    <br>

</div>

</div>
<br>
<br>
<br>
<br>
