<div class="row">

  <div class="col-md-12 main">

    <table class="table table-striped table-hover">
      <thead>
         <tr>
           <th>ID</th>
           <th>Nome</th>
           <th>descricao</th>
           <th>Data</th>
           <th>Tags </th>
           <th>Ações</th>
         </tr>
      </thead>
      <% @noticias.each do |t| %>
       <tbody>
         <td> <%= t.id %> </td>
         <td> <%= t.nome %> </td>
         <td> <%= t.descricao %> </td>
         <td> <%= t.data %>  </td>
         <td> <%= t.tags %> </td>
         <td>
           <%=button_to 'Detalhes', t, method: :get, class:"btn btn-default btn-sm"%>
           <%=button_to 'Aprovar', aprovar_path(t), method: :patch, class:"btn btn-success btn-sm"%>
           <%=button_to 'Desaprovar', desaprovar_path(t), method: :delete, data: { confirm:'Apagar noticia?'}, class:"btn btn-danger btn-sm"%>
         </td>
       </tbody>
      <%end%>
     </table>

  </div>


</div>
