<div class="row">

  <div class="col-md-12 main">
    <div class="col-md-2">
      <%=button_to 'Inserir', new_jogo_path, method: :get, class:"btn btn-success"%>
    </div>




  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
         <tr>
           <th>ID</th>
           <th>Nome</th>
           <th>Preço</th>
           <th>Developer</th>
           <th>ID Steam</th>
           <th>Data de Lançamento</th>
           <th>Ações</th>
         </tr>
      </thead>
      <% @jogos.each do |t| %>
       <tbody>
         <td> <%=t.id%> </td>
         <td> <%= t.nome %> </td>
         <td> <%= t.preco.to_s %>€ </td>
         <td> <%= t.developer %> </td>
         <td> <%= t.idsteam %>  </td>
         <td> <%= t.data_de_lancamento %> </td>
         <td>
           <%=button_to 'Detalhes', t, method: :get, class:"btn btn-default btn-sm"%>
           <%=button_to 'Editar', edit_jogo_path(t), method: :get, class:"btn btn-success btn-sm"%>
           <%=button_to 'Apagar', t, method: :delete, data: { confirm:'Apagar jogo?'}, class:"btn btn-danger btn-sm"%>
         </td>
       </tbody>
      <%end%>
     </table>
  </div>
  </div>


</div>
