<h1>Adicionar Jogo</h1>



<div class="row">
  <div class="col-md-6 col-md-offset-3 main">
  <ul class="nav nav-tabs">
    <li id="manual" class="active"><a href="#" class="tab">Manual</a></li>
    <li id="steam"><a href="#" class="tab">Steam</a></li>
  </ul>

  <div id="formsteam" style="padding-top:20px;padding-bottom:50px">
    <%= form_tag("#", method: "post", id:'steamlink', remote: true) do %>
      <%= label_tag(:q, "ID da Steam:") %>
      <%= number_field_tag(:steamnumber) %>
      <%= submit_tag("Buscar dados a steam", class:'btn btn-primary') %>
    <% end %>
  </div>

  <div id="form">
    <%=render 'form'%>
  </div>




  </div>
</div>

<script>

$(document).ready( function() {
  $('#steamlink').submit(function(){
    var numero = $('#steamnumber').val();
    $(this).attr('action', "/backoffice/jogo/newsteam/" + numero);
  });

  $('#formsteam').hide();
  $('#manual').on("click", function() {
    if ( $('#manual').hasClass("active") == false) {
        $('#formsteam').hide();
        $('#form').show();
        $('#manual').addClass("active");
        $('#manual').addClass("active");
      }
  })
  $('#steam').click(function(){
  if ( $('steam').hasClass("active") == false) {
    $('#formsteam').show();
    $('#form').hide();
    $('#manual').removeClass("active");
    $('#steam').addClass("active");
     return false;} });
  // $('button#steam').click function() {
  //   $('#form').hide();
  // })
})


</script>
