<div class="row">


  <div class="col-md-offset-3 col-md-6 main">
    <div style="text-align:center; margin-bottom:15px;">
      <span style="font-size:30px;"><%= @jogo.nome %></span> <br>
    </div>
    <div class="col-md-12" style="margin-top:20px;margin-bottom:20px;">
      <center><%= image_tag @jogo.foto, style: "max-height:300px;max-width:300px;" %></center>
    </div>
    Descricao: <%= @jogo.descricao %> <br>
    Developer:  <%= @jogo.developer %> <br>
    Id de Steam:  <%= @jogo.idsteam %> <br>
    Steam: <%= @jogo.steam %> <br>
    Data de Lançamento: <%= @jogo.data_de_lancamento %> <br>

    <div style="margin-top:20px;">
        <div class="col-md-6"><%=button_to 'Editar', edit_jogo_path(@jogo), method: :get, class:"btn btn-success btn-sm"%></div>
        <div class="col-md-6"><%=button_to 'Apagar', @jogo, method: :delete, data: { confirm:'Apagar jogo?'}, class:"btn btn-danger btn-sm"%></div>
    </div>
  </div>



</div>
