<div class="row">


  <div class="col-md-12">
    Nome:  <%= @jogo.nome %> <br>
    Preço:  <%= @jogo.preco.to_s %>€ <br>
    Descrição:  <%= @jogo.descricao %> <br>
    Developer:  <%= @jogo.developer %> <br>
    ID Steam:  <%= @jogo.idsteam %> <br>
    Data de Lançamento:  <%= @jogo.data_de_lancamento %> <br>


    <div class="col-md-6"><%=button_to 'Editar', edit_jogo_path(@jogo), method: :get, class:"btn btn-success btn-sm"%></div>
    <div class="col-md-6"><%=button_to 'Apagar', @jogo, method: :delete, data: { confirm:'Apagar jogo?'}, class:"btn btn-danger btn-sm"%></div>
    
  </div>



</div>
