<div class="row">


  <div class="col-md-12">
    Nome:  <%= @jogo.nome %> <br>
    Preço:  <%= @jogo.preco.to_s %>€ <br>
    Descrição:  <%= @jogo.descricao %> <br>
    Developer:  <%= @jogo.developer %> <br>
    ID Steam:  <%= @jogo.idsteam %> <br>
    Data de Lançamento:  <%= @jogo.data_de_lancamento %> <br>
  </div>



</div>
