<%= favicon_link_tag 'logo.png' %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="#">Logo MikasReviews</a> -->
      <%= link_to image_tag("logo.png", style:"height:50px; width:50px;"), backhome_path%>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Ir para o frontoffice", root_path %> </li>
      <li><%= link_to "Jogos", jogo_index_path %></li>
      <li><%= link_to "Noticias",noticia_path %></li>
      <li><%= link_to "Conta", conta_path %></li>
      <li style="margin-top:10px;"><form><input type="text"></li>
      <li style="margin-top:8px; margin-left:5px;"><button type="button" class="btn btn-default">Procurar</button></form></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <li>
          <% if logged_in? %>
          <li><%= link_to current_conta.nome, current_conta %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
          <% else %>
          <%= link_to signup_path do %>
              <span class="glyphicon glyphicon-user"></span> Registar-se
          <% end %>
        </li>
        <li>
          <%= link_to login_path do %>
              <span class="glyphicon glyphicon-log-in"></span> Login
          <% end %>
        </li>
        <% end%>
      </li>

    </ul>
  </div>
</nav>
