<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="#">Logo MikasReviews</a> -->
      <%= link_to "Logo MikasReviews", root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item"><%= link_to "Jogos", fjogos_index_path %></li>
      <li><%= link_to "Noticias", fnoticias_index_path %></li>
      <li><%= link_to "Empresas", fcontas_index_path %></li>
      <li><%= link_to "Utilizadores", fcontas_index_path %></li>
      <li style="margin-top:10px;"><form><input type="text"></li>
      <li style="margin-top:8px; margin-left:5px;"><button type="button" class="btn btn-default">Procurar</button></form></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
          <% if logged_in? %>
            <li><%= link_to current_conta.nome, current_conta %></li>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
          <% else %>
          <li>
          <%= link_to signup_path do %>
              <span class="glyphicon glyphicon-user"></span> Registar-se
          <% end %>
        </li>
        <li>
          <%= link_to login_path do %>
              <span class="glyphicon glyphicon-log-in"></span> Login
          <% end %>
        </li>
        <% end%>
      </li>

    </ul>
  </div>
</nav>
